// #map-canvas
// {
//   height: 250px;
//   width: 250px;
//   border: 1px solid black;
// }

.seat{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  font-size: 10px;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    right: 0;

  }
}