.seat {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  font-size: 10px;
  position: relative; }
  .seat span {
    position: absolute;
    bottom: 0;
    right: 0; }

#left {
  position: fixed;
  top: 45px;
  left: 0;
  width: 130px;
  height: 400px;
  border: 1px solid gray;
  background-color: lightgray; }
  #left h5 {
    text-align: center; }

#right {
  position: fixed;
  top: 45px;
  right: 0;
  width: 130px;
  height: 400px;
  border: 1px solid gray;
  background-color: lightgray; }
  #right h5 {
    text-align: center; }
